<table width="550" style="font-family: 'Tahoma', sans-serif">
	<tr>
		<td>
			<p>Novo contato de <b> ' . $PostData['nome'] . '</b> gerado pelo formulário do Site</p>
			<p>Nome do Remetente: ' . $PostData['nome'] . ' </p>
			<p>Telefone: ' . $PostData['fone'] . '</p>
			<p>E-mail para resposta: ' . $PostData['email'] . ' </p>
			<p><b>MENSAGEM:</b><br>' . $PostData['mensagem'] . ' </p>
			
			<p style="font-size: 1em">
				<img src="{INCLUDE_PATH}/images/logo-travi-color.png" alt="Atenciosamente, {SITE_NAME}"
				     title="Atenciosamente, {SITE_NAME}"/>
				<br><br>
				{SITE_ADDR_NAME}<br>
				Telefone:<b> {SITE_ADDR_PHONE_A}</b><br>
				E-mail: {SITE_ADDR_EMAIL}<br><br>
				Visite nosso site: <a title="{SITE_NAME}" href="{BASE}">{SITE_ADDR_SITE}</a><br>
			</p>
		</td>
	</tr>
</table>
<style>body, img {
	max-width: 550px !important;
	height: auto !important;
}

p {
	margin-botton: 15px 0 !important;
}</style>
