<table width="550" style="font-family: 'Verdana', sans-serif">
	<tr>
		<td>
			<p><b>Olá {speaker_name}</b></p>
			<p>A equipe do Ella Lidera 2024 está empolgada em dar as boas-vindas a você como um(a) inspirador(a) para o nosso evento!</p>
			<p>Agradecemos por preencher o formulário e por compartilhar seu entusiasmo pelo empreendedorismo feminino e pela inovação. Sua contribuição é extremamente valiosa para o sucesso do nosso evento.</p>
			<p>Gostaríamos de lembrar que a submissão da sua atividade não garante sua seleção para a programação oficial. Estamos avaliando cuidadosamente todas as propostas para garantir uma programação diversificada e impactante. Além disso, por favor, tenha em mente que, caso sua atividade seja selecionada, você terá 30 minutos para apresentá-la, e essa apresentação será realizada de maneira voluntária.</p>
			<p>Em breve, entraremos em contato via WhatsApp para informar sobre a seleção da sua proposta e os
				próximos passos. Estamos ansiosos para ver como você irá inspirar e impactar nosso público no dia <b>09 de novembro de 2024!</b></p>
			<p>Obrigado!</p>
			
			<br><br>
			<p style="font-size: 1em">
				Atenciosamente,<br>
				Equipe {SITE_ADDR_NAME} 2024<br><br>
				<img src="{logo_mail}" alt="Atenciosamente, {SITE_NAME}"
				     title="Atenciosamente, {SITE_NAME}"/>
				<br><br><br>
				Telefone:<b> {SITE_ADDR_PHONE_A}</b><br>
				E-mail: {SITE_ADDR_EMAIL}<br><br>
				Visite nosso site: <a title="{SITE_NAME}" href="{BASE}">{SITE_ADDR_SITE}</a><br>
			</p>
		</td>
	</tr>
</table>
<style>body, img {
	max-width: 550px !important;
	height: auto !important;
}

p {
	margin-botton: 15px 0 !important;
}</style>
