<table width="550" border="0" style="width:550px; border: none; color: #333333; font-family: 'Verdana', sans-serif">
	<tr>
		<td>
			<p>Novo voluntário cadastrado no Site <b>catianezanotto.com.br</b></p>
			<br>
			<p><b>Nome:</b> {voluntary_name} </p>
			<p><b>Telefone:</b> <a href="https://wa.me/{voluntary_phone}">{phone_mask}</a></p>
			<p><b>E-mail:</b> {voluntary_email} </p>
			
			<p><b>Região IBGE:</b> {voluntary_cep} </p>
			<p><b>CEP:</b> {voluntary_cep} </p>
			<p><b>Rua:</b> {voluntary_street} </p>
			<p><b>Bairro:</b> {voluntary_district} </p>
			<p><b>Cidade/UF:</b> {voluntary_city} - {voluntary_uf} </p>
			
			<p><b>Mensagem:</b>
			<br>
				{voluntary_message}
			</p>
			
			<br><br>
			<p style="font-size: 1em">
				Atenciosamente,<br>
				Equipe {SITE_ADDR_NAME} 2024<br><br>
				<img src="{logo_mail}" alt="Atenciosamente, {SITE_NAME}"
				     title="Atenciosamente, {SITE_NAME}"/>
				<br><br><br>
				Telefone:<b> {SITE_ADDR_PHONE_A}</b><br>
				E-mail: {SITE_ADDR_EMAIL}<br><br>
				Visite nosso site: <a title="{SITE_NAME}" href="{BASE}">{SITE_ADDR_SITE}</a><br>
			</p>
		</td>
	</tr>
</table>
<style>body, img {max-width: 550px !important;height: auto !important;} p {margin-botton: 15px 0 !important;}</style>
