<table width="550" border="0" style="width:550px; border: none; font-family: 'Verdana', sans-serif">
	<tr>
		<td>
			<p><b>Olá {voluntary_name}</b></p>
			<p>A equipe da Catiane Zanotto está muito feliz em recebê-lo(a) como voluntário(a) para nossa campanha.</p>
			<p>Agradecemos por preencher o formulário e por se unir a nós na missão de promover a inovação e o
				empreendedorismo em Caxias do Sul.</p>
			<p>Em breve alguëm da equioe entrara em conato com você pelo Whatsapp.</p>
			<p>Estamos ansiosas para contar com sua energia e compromisso. Lembre no dia <strong>06 de outubro de
				2024! VOTE 11112 PARA VEREADOR(A)</strong></p>
			<p>Até breve!</p>
			
			<br><br>
			<p style="font-size: 1em">
				Atenciosamente,<br>
				Equipe {SITE_ADDR_NAME} 2024<br><br>
				<img src="{logo_mail}" alt="Atenciosamente, {SITE_NAME}"
				     title="Atenciosamente, {SITE_NAME}"/>
				<br><br><br>
				Telefone:<b> {SITE_ADDR_PHONE_A}</b><br>
				E-mail: {SITE_ADDR_EMAIL}<br><br>
				Visite nosso site: <a title="{SITE_NAME}" href="{BASE}">{SITE_ADDR_SITE}</a><br>
			</p>
		</td>
	</tr>
</table>
<style>body, img {max-width: 550px !important;height: auto !important;}  p {margin-botton: 15px 0 !important;}</style>
