<table width="550" style="font-family: 'Verdana', sans-serif">
	<tr>
		<td>
			<p><b>Olá {voluntary_name}</b></p>
			<p>A equipe do Ella Lidera 2024 está muito feliz em recebê-lo(a) como voluntário(a) para o nosso evento!</p>
			<p>Agradecemos por preencher o formulário e por se unir a nós na missão de promover a inovação e o empreendedorismo feminino. Sua participação é crucial para o sucesso do Ella Lidera 2024.</p>
			<p>Gostaríamos de lembrá-lo(a) que as informações fornecidas ajudarão a integrar você na equipe de organização local do evento. Em breve, entraremos em contato via WhatsApp para adicionar você ao grupo de voluntários da cidade e fornecer mais detalhes sobre as suas responsabilidades e próximos passos.</p>
			<p>Estamos ansiosas para contar com sua energia e compromisso no dia <strong>09 de novembro de 2024!</strong></p>
			<p>Até lá!</p>
			
			<br><br>
			<p style="font-size: 1em">
				Atenciosamente,<br>
				Equipe {SITE_ADDR_NAME} 2024<br><br>
				<img src="{logo_mail}" alt="Atenciosamente, {SITE_NAME}"
				     title="Atenciosamente, {SITE_NAME}"/>
				<br><br><br>
				Telefone:<b> {SITE_ADDR_PHONE_A}</b><br>
				E-mail: {SITE_ADDR_EMAIL}<br><br>
				Visite nosso site: <a title="{SITE_NAME}" href="{BASE}">{SITE_ADDR_SITE}</a><br>
			</p>
		</td>
	</tr>
</table>
<style>body, img {
	max-width: 550px !important;
	height: auto !important;
}

p {
	margin-botton: 15px 0 !important;
}</style>
